/*===========GLOBAL==========*/
*{
  padding: 0;
  margin: 0;
}

body{
  font-size: 15px;
  background-image: url(images/ice-cream-background.jpg);
  
  font-family: 'Roboto', sans-serif;
}

main{
  background-color: white;
  width: 70%;
  margin: 100px auto;
  
}

h1{
  color: rgb(243, 59, 89);
}


a{
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
  
}

header{
  display: grid;
  grid-template-areas: "logo navigation";
  justify-content: space-between;
  align-content: center;
  text-align: center;
  justify-self: center;
  padding: 50px;
  margin: auto;

  
  
}

.logo{
  grid-area: logo;
  display: flex;
}

.navigation{
  grid-area: navigation;
  display: grid;
  grid-template-areas: "nav icons";
  color: black;
  gap: 50px;
  
}

.nav{
  grid-area: nav;
  padding: 5px;
  
  
  
}

li{
  display: inline;
}

.icons-header{
  grid-area: icons;
  display: flex;
  gap: 15px;
}