/*===========GLOBAL==========*/
*{
  padding: 0;
  margin: 0;
}

body{
  font-size: 15px;
  background-image: url(images/ice-cream-background.jpg);
  background-repeat: repeat-x;
  background-color: rgb(245, 245, 110);
  font-family: 'Roboto', sans-serif;
}



h1{
  color: rgb(243, 59, 89);

}

p{
  font-size: 18px;
}


a{
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
  padding: 10px;
  font-weight: bolder;
  
}

.link-nav:hover{
  color: rgb(253, 253, 22);
  background-color: pink;
  border-radius: 20px;
  border: 5px solid yellow;
}

/*===========MAIN==========*/

main{
  background-color: rgb(247, 245, 224);
  width: 70%;
  margin: 100px auto;
  border-radius: 50px;
  
}

header{
  display: grid;
  grid-template-areas: "logo navigation";
  justify-content: space-between;
  align-content: center;
  text-align: center;
  justify-self: center;
  padding: 50px;
  margin: auto;

}



.logo{
  grid-area: logo;
  display: flex;
  font-family: 'Fascinate', cursive;
}



.navigation{
  grid-area: navigation;
  display: grid;
  grid-template-areas: "nav icons";
  color: black;
  gap: 50px;
  
}

.nav{
  grid-area: nav;
  padding: 5px;
  
  
  
}

li{
  display: inline;
}

.icons-header{
  grid-area: icons;
  display: flex;
  gap: 15px;
}

.content{
  display: flex;
  padding: 50px;
  text-align: center;
}

.img-content{
  
  width: 70%;
  margin: 40px;
}

.content h1 {
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
  margin: 50px;
}

button{
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  background-color: pink;
  border: 1px;
  font-size: 17px;
  font-weight: bolder;
  
  
}

button:hover{
  background-color: pink;
  border: 5px solid yellow;
  color: yellow;

}

/*===========FOOTER==========*/

footer{
  background-color:  rgb(247, 245, 224);
  display: grid;
  grid-template-areas: "img1 img2 img3";
  width: 70%;
  margin: 40px auto;
  text-align: center;
  border-radius: 50px;
}
